form {
  position : relative;
  align-items: center;
  
  
}

h1{
  text-align: center;
}

.registro{
  display: flex;
  justify-content: right;
  
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.form {
  width: 550px;
}

.Lenlinea{
  display: inline;
}

.form-control{
  display: inline;
}